.portfolio-display,.shadow-container,.octagon{
  display:grid;
}
.portfolio-display{
  .octagon{
    grid-template-columns: [title-start prev-start image-start] var(--h-notchSize) [prev-end content-start] 1fr [content-end next-start] var(--h-notchSize) [title-end next-end image-end];
    grid-template-rows:[image-start prev-start next-start title-start] minmax(100px,auto) [image-end title-end content-start] 1fr [prev-end next-end content-end];
    gap:var(--half-gap);
    background-color:var(--back-color-2);
  }
  .image{
    grid-area:image;
    overflow:hidden;
    max-height:400px;
    display:flex;
    justify-content:center;
    align-items: flex-start;
    > * {
      max-width: 100%;
    }
  }
  .header{
    padding:calc(var(--v-notchSize) + var(--gap)) var(--h-notchSize);
    grid-area:title;
    align-self: start;
    display:grid;
    gap:var(--gap);
    grid-template-columns: repeat(2,minmax(50px,auto)) 1fr;
    grid-template-areas:
      'heading heading heading'
      'github  live    .';
    font-weight: 700;
    h3{
      grid-area:heading;
    }
  }
  .content{
    grid-area:content;
  }
  .nav-buttons{
    z-index:100;
    opacity:20%;
    display:flex;
    justify-content: center;
    align-items:center;
    transition: {
      duration:500ms;
      property:background-color,opacity;
    };
    &:first-of-type{
      grid-area:prev;
    }
    &:last-of-type{
      grid-area:next;
    }
    &:is(:hover,:focus){
      background-color:var(--link-color);
      opacity:100%;
      &:active{
        background-color:var(--back-color-2);
        opacity:100%;
      }
    }
  }
}