.portfolio-nav{
  background-color:var(--back-color-2);
  position:sticky;
  top:116px;
  padding-bottom:var(--gap) !important;

  nav{
    display:grid;
    grid-template-columns:auto minmax(0,1fr) auto;
  }
  
  ul{
    width:max-content;
  }

  li{
    width:max-content;
  }
  .btn{
    background-color:var(--back-color-2);
    border:none;
    transition: 500ms background-color;
    &:is(:hover,:focus){
      background-color:var(--link-color);
    }
    &:active{
      background-color:var(--back-color-2);
    }
  }
}

.marquee-wrapper{
  display:flex;
  overflow:hidden;
  justify-content: center;
  background-color: var(--back-color-1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px inset, rgba(0, 0, 0, 0.23) 0px 3px 6px inset;
}